<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="modal fade" id="modalCivilMilitar" tabindex="-1"
	data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		

		<form th:action="@{/pessoas/novo}"  method="post">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Quem você quer cadastrar?</h4>
				</div>
				
				<div class="modal-body">
					<div class="radio-inline">
						<label> <input type="radio" name="tipo"
							id="optionsRadios1" value="militar" checked="checked"/> Militar
						</label>
					</div>
					<div class="radio-inline">
						<label> <input type="radio" name="tipo"
							id="optionsRadios2" value="civil"/> Civil
						</label>
					</div>
				</div>
			
				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary" >Continuar</button>
				</div>
			</div>
		</form>
	</div>
</div>

</html>