<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>
<title>Bairros</title>
</head>

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Bairros</h1>
				<a class="btn btn-link aw-link-panel" th:href="@{/bairros/novo}">Novo
					bairro</a>
			</div>
		</div>

		<div class="panel-body">


			<div class="table-responsive">
				<table id="example" class="table table-bordered table-striped table-condensed"
					cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nome</th>
							<th>Cidade</th>
							<th></th>


						</tr>
					</thead>
					<tbody>
						<tr th:each="bairro : ${bairros}">
							<td th:text="${bairro?.id}">1</td>
							<td th:text="${bairro?.nome}">nome</td>
							<td th:text="${bairro?.cidade.nome}">nome</td>
							
							<td class="text-center">
		   						<a class="btn btn-link btn-xs" th:href="@{/bairros/{id}(id=${bairro.id})}" 
		   								title="Editar" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-pencil"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#myModalExclusao"
		   								th:attr="data-id=${bairro.id}, data-nome=${bairro.nome}"
		   								title="Excluir" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-remove"></span>
		   						</a>
		   						
		   					</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>

		<div layout:include="/Bairros/ConfirmaExclusaoBairro"></div>

	</div>
</section>
</html>