<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="table-responsive">
				<table id="tabelaSimples" class="table table-bordered table-striped table-condensed"
					cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Descrição</th>
							<th>Quantidade</th>
							

						</tr>
					</thead>
					<tbody>
						<tr th:each="objeto : ${objetos}">
							
							<td th:text="${objeto?.descricao}"></td>
							<td th:text="${objeto?.quantidade}"></td>
							
							<td class="text-center">
		   						<a class="btn btn-link btn-xs" th:href="@{/objetos/{id}(id=${objeto.id})}" 
		   								title="Editar" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-pencil"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#myModalExclusao"
		   								th:attr="data-id=${objeto.id}, data-nome=${objeto.nome}"
		   								title="Excluir" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-remove"></span>
		   						</a>
		   						
		   					</td>
						</tr>

					</tbody>
				</table>
			</div>
	
</html>